:root {
  --Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
  --Desaturated_Dark_Blue: hsl(214, 17%, 51%);
  --Grayish_Blue: hsl(212, 23%, 69%);
  --Light_Grayish_Blue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Light_Grayish_Blue);
  /* border: 2px solid green; */
  height: 100lvh;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  width: 70%;
  height: 300px;
  /* border: 2px solid red; */
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
}

.item-img {
  /* border: 2px solid black; */
  width: 122%;
  /* object-fit: cover; */
}

.description {
  font-family: "Manrope";
  color: var(--Very_Dark_Grayish_Blue);
  display: grid;
  padding: 30px;
  /* border: 2px solid black; */
  background-color: white;
  width: 60%;
}

.avatar-img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.avatar-name {
  margin-left: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.avatar {
  align-items: center;
  display: flex;
}

.sharebutton {
  background-color: var(--Light_Grayish_Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.avatar-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border: 2px solid green;
}

.description h2 {
  font-family: "Manrope";
}

.desc-para {
  font-size: 15px;
  font-weight: 700;
  color: hsl(212, 23%, 69%);
}

.date {
  color: hsl(212, 23%, 69%);
}

.avatar-name {
  font-weight: 700;
}

.img-container {
  width: 40%;
  overflow: hidden;
}

.share-tag {
  position: relative;
  background: var(--Very_Dark_Grayish_Blue);
  border-radius: 10px;
  padding: 20px;
  color: white; /* Text color */
  width: 200px;
  height: 50px;
  max-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.share-tag::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Adjust as needed for pointer position */
  left: 50%;
  transform: translateX(-50%);
  border-width: 30px 30px 0; /* Adjust size of the triangle */
  border-style: solid;
  border-color: var(--Very_Dark_Grayish_Blue) transparent transparent
    transparent;
}

.share-tag img {
  height: 20px;
}

.share-tag span {
  letter-spacing: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.share-div {
  height: 120px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
